@model IEnumerable<MVCAssignment2.Movie>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.moviename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateofrelease)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.moviename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateofrelease)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.mid }) |
            @Html.ActionLink("Details", "Details", new { id=item.mid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.mid })
        </td>
    </tr>
}

</table>
